---
import BaseHead from '../../components/BaseHead.astro'
import { fetchAllFestivals } from '../../lib/api/strapi'

export async function getStaticPaths() {
    const festivals = await fetchAllFestivals({ page: 1, pageSize: 25 })

    return festivals.map(festival => ({
        params: { slug: festival.slug },
        props: { festival },
    }))
}

const { festival } = Astro.props
---

<!-- <BlogPost {...post.data}>
	<Content />
</BlogPost> --><!doctype html>
<html lang="en">
    <head>
        <BaseHead title={festival.title} description={festival.title} />
        <style>
            main {
                width: 960px;
            }
        </style>
    </head>
    <body>
        <main>
            <section>
                <h1>{festival.title}</h1>
                <p>{festival.position.lat}</p>
                <p>{festival.position.lng}</p>
                <p>{festival.startDate}</p>
                <p>{festival.endDate}</p>
            </section>
        </main>
    </body>
</html>
